#add-article-form {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem 1rem 0 1rem;
}

#categories {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
}

#categories-container {
    min-height: 3rem;
}

.item-form {
    display: flex;
    gap: 1rem;
}

#article-description, #article-image {
    width: 100%;
    height: fit-content;
}

#articles-list {
    min-height: 250px;
} 